*~
/Desktop
/sketchbook
/.ssh
/.gitconfig
/.bash_history*
/.cache
/.emacs.d
/.Xauthority
/.sudo_as_admin_successful
/.xsession-errors*
/.config/*
!/.config/lxterminal
!/.config/pcmanfm
!/.config/rpc
!/.config/wf-panel-pi
/.local/*
!/.local/share/file-manager
!./.local/share/applications/backup.desktop
