[Desktop Entry]
Type=Application
Name=Ayatana Indicator Notifications
Exec=/usr/libexec/ayatana-indicator-notifications/ayatana-indicator-notifications-service
OnlyShowIn=Unity;MATE;XFCE;
NoDisplay=true
StartupNotify=false
Terminal=false
Hidden=true
