[Desktop Entry]
Type=Action
Name=Git add
Icon=/usr/share/icons/hicolor/scalable/actions/fm-new.svg
Profiles=default;

[X-Action-Profile default]
Exec=git add %F
Name=Default profile
MimeTypes=all/all;
Comment=Adds to the git repository
