[Desktop Entry]
Type=Action
Name=Noblank
Icon=menu-edit
Profiles=default;

[X-Action-Profile default]
Exec=bash -c "noblank %f"
Name=Default profile
MimeTypes=inode/directory;
Comment=Renames the file name with no space
