[Desktop Entry]
Type=Action
Name=Terminal
Icon=utilities-terminal
Profiles=default;

[X-Action-Profile default]
Exec=lxterminal
Name=Default profile
MimeTypes=inode/directory;
Comment=Opens a terminal here
