[Desktop Entry]
Type=Action
Name=Zip
Icon=xarchiver-add
Profiles=default;

[X-Action-Profile default]
Terminal=true
Exec=lxterminal --profile=xterm --title='zip' --command="zip -9qr %f.zip %F"

Name=Default profile
MimeTypes=all/all;
Comment=Builds an archive on desktop
